.color input{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(0, 255, 0);
}
 #botao { 
margin-top: 10px;
border-radius: 20px;
text-decoration:none;

}

.hyyy{
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
    margin-right: 650px;
    
}
.login{
    background-color: rgb(0, 255, 0);
    margin-right: 680px;
    border-radius: 15px;
}

.separar{
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(0, 255, 0);
}
.imagem{
  width: 900px;
}
#botaoo{
    border-radius: 20px;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
}
 #termos 
{
    font-size: 20px;
    list-style: none;
    margin-right: 200px;
    margin: 0px;
    padding: 0px;
}
.margem{
    margin: 5px;
    padding: 0px;
}
 
